body{
    background-color:#111111
}

h1{
    color:#E2E80F; text-align: center
    
}

p{
     color:#eeeeee;
}

p .credits{
    color:#49DAFF
}

p .film-description{
    font: italic; font-size: 25px
}